<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Compose</title>
  </head>
  <body>

    <form class="" action="/compose" method="post">
      <label>Title</label>
      <input type="text" name="news-title" >
      <label>Content</label>
      <input type="text" name="news-content">
      <button type="submit">submit</button>
    </form>
  </body>
</html>
